$primary-color: #feff00;
$secondary-color: #303030;
$border-shadow: rgba(#303030, .5);
$input-shadow: rgba(0,0,0,0.2);

.app {
    padding-top: 50px;
    height: 100%;
}

.create-container {
    width: 800px;
    height: 100px;
    margin: auto;
    margin-top: 50px;
    border-bottom: 1px solid #303030;
}

.list-container {
    width: 800px;
    height: 100px;
    margin: auto;
}

.input-field {
    display: inline-block;
    padding-left: 16px;
    height: 40px;
    box-shadow: 0 2px 6px 0 $input-shadow;
    margin-right: 50px;
    outline-color: $primary-color;
    font-weight: 500;
    font-size: 20px;

    &_name {
        width: 500px;
    }

    &_effort {
        width: 100px;
    }

    &:hover {
        box-shadow: 0 4px 8px 0 $input-shadow;
    }

    &:focus {
        box-shadow: 0 4px 8px 0 $input-shadow;
        outline-color: $primary-color;
    }
}

.button-submit {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $secondary-color;
    border: none;
    transform: translateY(10px);
    -webkit-box-shadow: 0px 4px 8px $border-shadow;
    -moz-box-shadow: 0px 4px 8px $border-shadow;
    box-shadow: 0px 4px 8px $border-shadow;

    div {
        font-size: 40px;
        color: white;
        transform: translateY(-3px);
    }

}

