$primary-color: #feff00;
$secondary-color: #303030;
$border-shadow: rgba(#303030, .5);

#navigation-header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $primary-color;
    color: $secondary-color;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 20px;
    font-size: 35px;
    -webkit-box-shadow: 0px 4px 8px $border-shadow;
    -moz-box-shadow: 0px 4px 8px $border-shadow;
    box-shadow: 0px 4px 8px $border-shadow;
}