.pitch-container {
    width: 800px;
    height: 40px;
    line-height: 40px;
    font-family: sans-serif;
    border-bottom: 1px solid #a8a8a8;
}

.effort {
    display: inline;
    margin-left: 30px;
    color: #a8a8a8;
    font-weight: 20;
}

.likes {
    float: right;
    margin-right: 5px; 
}