﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<base href="~/" />
	<script>
		window.graphql_endpoint = '@ViewData["GraphQL:Endpoint"]';
	</script>
</head>
<body style="margin: 0;">
	@RenderBody()

	<script src="~/dist/vendor.js" asp-append-version="true"></script>
	<script src="~/dist/main.js" asp-append-version="true"></script>
</body>
</html>
